*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}
 .gen-animation{
    animation: general ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes general {
    from{
        opacity: -2;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
    }
    
} 
@media screen and (max-width: 991px) {
    *{
        text-align: center;
    }

}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: whitesmoke;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
   border-radius: 20px;
    background-color: #A56238;
}
.navbar {
    background-color: #5d5555ae;
    border-radius: 50px;
    margin-top: 20px;
}

.bg-color {
    background-color: #211f1f;
}

#navp1 {
    color: #A56238;
    font-size: 32px;
    font-weight: 600;
}

.tags li a {
    text-decoration: none;
    color: whitesmoke
}

.tags li a:hover {
    transition: 0.3s ease-in-out;
    color: #A56238;
    transform: translateY(-4px);
}

.tags li a:active {
    color: #A56238;
    transform: translateY(-4px);
}

.tags li {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: #3b3232;
        backdrop-filter: blur(10px);
    }
}
.homediv1{
    padding-top: 100px;
}
#homep1{
    color: #A56238;
    font-size: 20px;
    transition: 2s ease-in-out;
    animation: hmhelo  ease-in-out both;
    animation-timeline: view();
    animation-range: cover 10%;
}
@keyframes hmhelo {
    from{
        opacity: -2;
    }
    to{
        opacity: 1;
    }
}
#homep2{
    color: whitesmoke;
    font-size: 70px;
    transition: 1s ease-in-out;
    animation: hmname ease-in-out both;
    animation-timeline: view();
    animation-range: cover -50%;
}
@keyframes hmname {
    from{
        opacity: -2;
        margin-left: -100px;
    }
    to{
        opacity: 1;
    }
}
#homep3{
    color: whitesmoke;
    font-size: 20px;
    transition: 1s ease-in-out;
    animation: hmp3 ease-in-out both;
    animation-timeline: view();
    animation-range: cover -60%;
   }
   @keyframes hmp3 {
    from{
        opacity: -2;
        margin-top: -100px;
    }
    to{
        opacity: 1;
    }
   }
#homebtn{
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    background-color: rgba(44, 192, 192, 0.884);
    transition: 1s ease-in-out;
 animation: hmbtn ease-in-out both;
 animation-timeline: view();
 animation-range: cover -50%;
}
@keyframes hmbtn {
 from{
     opacity: -2;
 }
 to{
     opacity: 1;
 }
}
#homebtn:hover{
    transition: 0.3s ease-in-out;
 border-bottom: 2px solid #A56238;
 border-top: 2px solid #A56238;
 background-color: rgba(31, 124, 124, 0.884);
}
.homediv2 img{
 padding-top: 100px;   
 height: 500px;
 transition: 2s ease-in-out;
 animation: hmimg ease-in-out both;
 animation-timeline: view();
 animation-range: cover -120%;
}
@keyframes hmimg {
 from{
     opacity: -2;
     margin-right: -1000px;
 }
 to{
     opacity: 1;
 }
}
.icons{
    transition: 1s ease-in-out;
    animation: hmicons ease-in-out both;
    animation-timeline: view();
    animation-range: cover -120%;
}
@keyframes hmicons {
    from{
        opacity: -2;
        margin-bottom: 100px;
    }
    to{
        opacity:1;
    }
}

.icons a{
    margin-right: 10px;
}
.icons a img:hover{
    transition: 0.3s ease-in-out;
    color: #A56238;
    transform: translateY(-4px);
}
.icons a img:active{
    color: #A56238;
    transform: translateY(-4px);
}

#abtp1{
    color: #A56238;
    font-size: 20px;
}
#abtp2{
    color: whitesmoke;
    font-size: 50px;
}
.aboutdiv1 img{
    height: 350px;
    transition: 1s ease-in-out;
    animation: abtimg ease-in-out both;
    animation-timeline: view();
    animation-range: cover -130%;
}
@keyframes abtimg {
    from{
        opacity: -2;
        margin-left: -500px;
    }
    to{
        opacity: 1;
    }
}
#abtp3{
    color: whitesmoke;
    font-size: 16px;
}
#abtp4{
    color: whitesmoke;
    font-size: 16px;
}

.aboutdiv3{
    width: 320px;
    flex-wrap: wrap;
    display: inline-flex;
    transition: 3s ease-in-out;
    animation: abt2 ease-in-out both;
    animation-timeline: view();
    animation-range: cover -200%;
   }
   @keyframes abt2 {
    from{
        opacity: 0;
        margin-left: 400px;
    }
    to{
        opacity: 1;
    }
   }
.aboutdiv3 p{
    text-align: end;
}
.green{
    color: rgba(44, 192, 192, 0.884);
    font-size: 18px;
    font-weight: 700;
}
.white{
    color: whitesmoke;
    font-size: 18px;
    text-align: justify;
}
#edup1{
    color: #A56238;
    font-size: 60px;
}
#p1{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
}
#p2{
    color: rgba(44, 192, 192, 0.884);
    font-size: 22px;
}
#p3{
    color: #A56238;
    size: 24px;
    font-weight: 700;
}
#p4{
    font-size: 26px;
    color: whitesmoke;
    font-weight: bolder;
}
#p5{
    font-size: 16px;
    color: whitesmoke;
}
hr{
height: 3px;
background-color: whitesmoke;
border-radius: 100%;
}
#exp{
    display: flex;
    align-items: center;
}
.progress{
    width: 90%;
    margin-bottom: 5px;
}
.skillP{
    color: whitesmoke;
    font-size: 24px;
    
}
.progressbar{
    background-color: #A56238;
    font-size: 14px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cerp1{
    color: #A56238;
    font-size: 60px;
    text-align: center;
    transition: 2s ease-in-out;
    animation: text ease-in-out both;
    animation-timeline: view();
    animation-range: cover -80%;
}
@keyframes text {
    from{
        opacity: -2;
        margin-left: -500px;
    }
    to{
        opacity: 1;
    }
}
.cerdiv2{
    text-align: center;
}
 .imag{
    height: 500px;
    border: 8px solid #A56238;
 }
 #imgp1{
    background-color: #A56238;
    color: whitesmoke;
    font-size: 18px;
    display: inline-flex
 }
 #imgp2{
    background-color: #A56238;
    color: whitesmoke;
    font-size: 14px;
    display: block;
 }
 #footimg{
    height: 80px;
    width: 100px;
 }
 .footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
 #footp1{
    color: whitesmoke;
    font-size: 20px;
 }
 #footp2{
    font-size: 20px;
    color: #A56238;
 }
 .hi{
    display: inline-flex;
    justify-content: center;
 }
 .projectdiv2{
    display: flex;
    justify-content: space-between;
 }
 .card{
    margin-bottom: 40px;

 }
 .serdiv2{
    border: 4px solid #A56238;
    color: whitesmoke;
    text-align: center;
    display:inline-block;
    padding: 10px;
    border-radius: 50px;
 }
 #serp2{
    font-size: 18px;
 }
 #serp1{
    font-size: 26px;
    font-weight: 700;
 }
 .serdiv2 img{
    border-radius: 50%;
    border: 3px solid #A56238;
    padding: 20px;
   margin-bottom: 10px;
 }
 #conp1{
    color: whitesmoke;
    font-size: 20px;
 }
#conbtn{
    color: whitesmoke;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    background-color: rgba(44, 192, 192, 0.884);
}
#conbtn:hover{
 transition: 0.5s ease-in-out;
 border-bottom: 2px solid #A56238;
 border-top: 2px solid #A56238;
 background-color: rgba(31, 124, 124, 0.884);
}
.condiv2{
    text-align: center;
}
.condiv2 a{
    text-decoration: none;
}
    .loader {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative;
        border: 2px solid #A56238;
        animation: loader 4s infinite ease;
      }
  
      .loader-inner {
        display: block;
        width: 100%;
        background-color: whitesmoke;
        animation: loader-inner 2s infinite ease-in;
      }
  
      .loader-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh; 
        position: fixed; 
        top: 0;
        left: 0;
        background-color: #211f1f;
        z-index: 9999;
      }
  
      @keyframes loader {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(180deg);
        }
        50% {
          transform: rotate(180deg);
        }
        75% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  
      @keyframes loader-inner {
        0% {
          height: 0%;
        }
        25% {
          height: 0%;
        }
        50% {
          height: 100%;
        }
        75% {
          height: 100%;
        }
        100% {
          height: 0%;
        }
      }